@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Lato', sans-serif;}
.sidebar{
    border: 0.2rem solid #2a9d8f;;
    border-radius: 0.8rem;
}
.id_name{
    font-weight: bolder;
    color:#2a9d8f
}
.id_name_span{
    font-weight: bolder;
    color:#2a9d8f
}
.headings-bold{
    font-weight: bolder;
}
.main-container{
    height: 93vh;
    display: grid;
    margin-inline: auto;
    margin-top: 1rem;
    margin: 1rem 1rem 0rem 1rem;
    box-shadow: 0px 2px 8px 0px #11121230;
    padding: 1rem;
    border-radius: 0.8rem;
}
.modal-header{
    background: #2a9d8f;
    font-weight: bolder;
    font-size: larger;
    color: white;
}
.modal-header .btn-close{
    font-size: bolder;
    color: white;
}
.modal-create__button{
    float: right;
    margin-top: 1.5rem;
    background: #2a9d8f;
}
.modal-create__button:hover{
    color: black;
    background-color: #5cc3bb;
}
.conversation-list {
    font-weight: bolder;
    background: #009f92a3;
    color:white;
}
.contact-list {
    font-weight: bolder;
    background: #2a9d8f;
    color:white;
}
.list-group-item.active{
    background: #2a9d8f !important;
}
.new-buttons{
    background: #2a9d8f;
    margin: 0.5rem;
    border-radius: 0.8rem;
    border:none;
}
.new-buttons:hover{
    color: black;
    background-color: #5cc3bb;
    /* transform: scaleY(1.1); */
    /* transition: all ease-in-out 1s; */
}
.nav-tabs .nav-link{
    color:white;
}
.nav-tabs{
    background: #2a9d8f !important;
    border: none;
    margin-top: -0.06rem;
    border-radius: 0.3rem 0.3rem 0rem 0rem;
}
.nav-tabs:hover{
    background: #5cc3bb;
    color: black;
}
.bg-primary{
    background: #2a9d8f !important;
}
.list-group-flush {
    border-radius: 0;
    margin-top: 0.1rem;
}
.login-container{
    height: 40vh;
    width: 85vh;
    box-shadow: 0px 2px 8px 0px #2a9d8f5e;
    margin-top: 2rem;
    border-radius: 1rem;
}
.login-container__header{
    background: #2a9d8f;
    padding: 0rem 9rem 0rem, 6rem;
    margin: 0rem -0.8rem 0rem -0.8rem;
    height: 3rem;
    color:white;
    border-radius: 1rem 1rem 0% 0%;
    display: grid;
    place-items: center;
}
.login-container__form{
    width: 100%!important;
    margin-top: 2rem;
    color: #2a9d8f;
    font-weight: bolder;
}
.login-container__form-control{
    margin-bottom:1rem;
    border: 1px solid #2a9d8f66 !important;
}
.login-container__button{
    background: #2a9d8f;
    margin: 2rem 0.1rem 0 0;
    border: none;
    float: right;
}
.login-container__button:hover{
    background: #2a9d8f9e;
    color: black;
}

